requests
joblib
pyarrow
sqlalchemy
psycopg2-binary 
evidently 
pandas
numpy
scikit-learn
jupyter
python-dotenv
dvc
dvc-gs
pydantic
fastapi
mlflow
uvicorn
google-cloud-storage
prometheus-fastapi-instrumentator==5.7.1
